<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.treasure_hunt_mijnstreek">

    <application
        android:allowBackup="true"
        android:icon="@drawable/treasure_hunt_logo_png_98fa250b6c4ef4b06f8054c4dedbaa43"
        android:label="@string/app_name"
        android:roundIcon="@drawable/treasure_hunt_logo_png_98fa250b6c4ef4b06f8054c4dedbaa43"
        android:supportsRtl="true"
        android:theme="@style/Theme.Treasure_Hunt_Mijnstreek">
        <activity
            android:name=".ui.main.QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".homescreen"
            android:exported="false" />
        <activity
            android:name=".done_page"
            android:exported="false" />
        <activity
            android:name=".loadingscreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Treasure_Hunt_Mijnstreek.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>